table {
  @include font-feature-settings("kern", "liga", "tnum");
  border-collapse: collapse;
  margin: $small-spacing 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid darken($base-border-color, 15%);
  font-weight: 600;
  text-align: left;
}

table.horizontal{
  th {
    border-bottom: $base-border;
    text-align: right;
  }
}

td {
  border-bottom: $base-border;
}

th,
td {
  padding: 1px 4px;
}

tr,
td,
th {
  vertical-align: middle;
}

td.numeric,
th.numeric {
  text-align: right;
}
