body {
  font-family: system;
  font-size: 10pt;
}

div.categories,
header {
  margin: 1em 2em;
}


div.categories {
}

header {
}

table {
  tr {
    td, th {
      padding: 0.25em;
    }
  }
}

.summary {
  table {
    width: 100%;
    max-width: 600px;

    th {
      text-align: right;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
}

h2 {
	border-bottom: solid 2px black;
	margin-bottom: 0;
}


td.quantity,
td.item-weight {
	text-align: right;
}

div.category {
	$checkmark-column:     1;

	margin-bottom: 2em;

  table {
  	margin-top: 0;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    line-height: 1.6;

  	p {
  		margin: 0;
  	}

  	.item-name {
  		font-weight: bold;
  	}

  	tfoot {
  		font-weight: bold;

      td.subtotal {
        text-align: left;
        font-size: 1.05em;
      }

  		td {
  			text-align: right;
  			border-top: solid 2px #333;
  		}

      tr {
        border-bottom: solid 1px #333;
      }

  	}

  	tbody {
      tr {
        border-bottom: solid 1px #ddd;
      }

    	// Checkmark
    	td:nth-child(#{$checkmark-column}) {
    		width: 1em;
    	}

    	td.quantity {
    		width: 3em;
    	}

    	td.item-type {
    		width: 2em;
        text-align: center;
    		// font-size: 125%;
    		font-weight: bold;
    	}

      td.item-name {
        // width: 15em;
      }

      td.item-description {
        width: auto;
      }

    	td.item-weight {
    		width: 6em;
    	}
    }
  }
}
